<div class="action-button">
    <div class="card">
        <div class="card-body">
            <button onclick={{action 'handleBtnClick'}} class="btn btn-primary">
                {{value}}
            </button>
            &mdash;
            <span class="badge badge-danger">{{count}}</span>
        </div>
    </div>
</div>