<div class="container">
    <!-- As a link -->
    <nav class="navbar navbar-light bg-primary">
        {{!-- <a class="navbar-brand" href="#">shopIT</a> --}}
        {{#link-to 'index' class="navbar-brand"}} shopIT {{/link-to}}
    </nav>
    <hr/> {{!--
    <a href="products">View Products</a> --}} 
    {{#link-to 'products'}} View Products {{/link-to}}
    <hr/> 
    {{outlet}}
</div>